.nav-link.active {
    font-weight: bold;
    color: #0d6efd !important; /* Bootstrap primary color */
    border-bottom: 2px solid #0d6efd;
  }

.icon-container{
  cursor: pointer;
  height: 100%;
}  

#dynamic-display{
  max-width: 650px;
  height: 405px;
  border: 5px dotted;
  border-color: black; 
}

.bold{
    font-weight: bold;
}

.h4-format{
  font-size: 1.40rem;
  text-align: center;
}

.quiz-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-item {
  display: flex;
  flex-direction: column;
}

.quiz-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  gap: 10px;
}

.answer-tile {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.question-cell {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: left;
}

.answer-zone {
  width: 100%;
  min-height: 60px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.answer-zone.ui-droppable-hover {
  background-color: #a8dadc;
}

.answer-zone.hovering {
  transform: scale(1.1);
  z-index: 10;
}

.answer-tile.scaled{
  transform: scale(1.1);
  z-index: 11;
}

.word-bank-box {
  display: flex;
  border: 2px solid #0d6efd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f1f8ff;
  justify-content: center;
  align-items: center;
}

.word-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.answer-tile.correct {
  border: 3px solid #28a745;
}

.answer-tile.incorrect {
  border: 3px solid #dc3545;
}

.incorrect-feedback{
  font-weight: bold;
  color: #dc3545;
}

.correct-feedback{
  font-weight: bold;
  color: #28a745;
}
