body {
  font-family: 'Aleo', serif;
}
.navbar {
  background-color: #1c4590 !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link.active {
  font-weight: bold;
  color: white !important;
  border-bottom: 2px solid white;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-toggler {
  border-color: white !important;
  border-width: 2.5px;
}

.navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon div {
  content: "";
  background-color: white;
  display: block;
  height: 2px;
  margin: 6px 0;
  width: 100%;
}


.btn-prev {
  background-color: #f8f9fa;
  color: rgb(65, 65, 65);
  font-weight: bold;
  border: 1px solid rgb(65, 65, 65);
  font-size: 1.25em;
  padding: 12px 24px;
  text-align: center;
  width: 200px;
}

.btn-prev:hover {
  background-color: rgb(65, 65, 65);
  color: #f8f9fa;
}


.btn-next {
  background-color: #a8dadc;
  color: white;
  font-weight: bold;
  border: 1px solid #1c4590;
  font-size: 1.25em;
  padding: 12px 24px;
  text-align: center;
  width: 200px;
}

.btn-next:hover {
  background-color: #1c4590;
  color: white;
}

.display-3{
  font-weight: bolder;
  font-size: 80px;
}

.display-6{
  color: rgb(65, 65, 65);   
}

#start-learning{
  font-weight: bold;
  border: 1px solid #1c4590;
  min-width: 250px;
}

#test-your-know{
  background-color: #f8f9fa;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(65, 65, 65);
}

#test-your-know:hover {
  background-color: rgb(65, 65, 65);
  color: #f8f9fa;
}

@media (max-width: 576px) {
  .btn-prev,
  .btn-next {
      width: 150px;
      font-size: 1.2em;
      padding: 10px 20px;
  }
}

#lessonTitle{
  font-size: 2.75em;
  font-weight: bolder;
}

.icon-container{
  cursor: pointer;
  height: 100%;
}

.icon-container p {
  font-size: 1.15em;
}

#dynamic-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
  width: 100%;
  max-width: 550px;
  height: 325px;
  overflow: hidden;
  margin: 0 auto;
}

#display-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#display-content p {
  font-size: 1.5em;
  padding: 50px;
}


.responsive-video-container {
  width: 500px;
  aspect-ratio: 16 / 9;
  position: relative;
}

.responsive-video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}


@media (max-width: 768px) {
  #dynamic-display {
      height: 225px;
      max-width: 100%;
  }

  .responsive-video-container {
    width: 350px;
    aspect-ratio: 16 / 9;
    position: relative;
  }

  #lessonTitle {
       font-size: 1.70em; 
       margin-top: 50px;
       margin-bottom: 45px;
  }

  #display-content p {
    font-size: 1.20em;
    padding: 30px;
  }

  .icon-row{
        margin-top: 45px;
        margin-bottom: 45px;
  }

  .icon-container p {
    font-size: 1em;
  }
}

#review-title{
  font-weight: bolder;
}

.bold{
    font-weight: bold;
}

.h4-format{
  font-size: 1.40rem;
  text-align: center;
}

.quiz-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-item {
  display: flex;
  flex-direction: column;
}

.quiz-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  gap: 10px;
}

.answer-tile {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  cursor: pointer;
}

.question-cell {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: left;
}

.answer-zone {
  width: 100%;
  min-height: 60px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.answer-zone.ui-droppable-hover {
  background-color: #a8dadc;
}

.answer-zone.hovering {
  transform: scale(1.1);
  z-index: 10;
}

.answer-tile.scaled{
  transform: scale(1.1);
  z-index: 11;
}

.word-bank-box {
  display: flex;
  border: 2px solid #1c4590;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f1f8ff;
  justify-content: center;
  align-items: center;
}

.word-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.answer-tile.correct {
  border: 3px solid #28a745;
}

.answer-tile.incorrect {
  border: 3px solid #dc3545;
}

.incorrect-feedback{
  font-weight: bold;
  color: #dc3545;
}

.correct-feedback{
  font-weight: bold;
  color: #28a745;
}

.glow-on-hover {
  background-color: #a8dadc;
  border: #a8dadc;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.glow-on-hover:hover {
  background-color: #1c4590;
  border: #1c4590;
  color: white;
}

#quiz-instructions{
  font-size: 1.4em;
  text-align: center;
  color: rgb(65, 65, 65);
}

#quiz-title{
  font-size: 1.70em;
  color: rgb(65, 65, 65);
  font-weight: bolder;
}

#drop-submit{
  margin-bottom: 30px;
  min-width: 300px;
}

