{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='drag_drop_question.js') }}"></script>

<script>
    let page_num = {{page_num|tojson}}
    let selected_questions = {{selected_questions|tojson}}
    console.log('on page num: ', page_num)
    console.log('on selected questions: ', selected_questions)
</script>

<body>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-4" >
        <h1 id="quiz-title">Now test your knowledge!</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center" >
        <h1 id="quiz-instructions">Drag the answers in the word bank to the corresponding questions!</h1>
    </div>
  </div>
  

  

  <div class="display-6 mb-5 h4-format feedback"></div>

  <div class="container">
    <div class="word-bank-box">
      <div id="answers-section" class="word-bank">
        {% for q in selected_questions %}
          <div class="answer-tile" data-answer="{{ q.answer }}">{{ q.answer }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="quiz-grid">
      {% for q in selected_questions %}
          <div class="quiz-item">
            <div class="row quiz-row">
              <div class="col-12 col-md-6 question-cell">
                {{ q.question }}
              </div>
              <div class="col-12 col-md-6 answer-zone" data-answer="{{ q.answer }}"></div>
            </div>
          </div>
      {% endfor %}
    </div>

    <br>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <button class="btn btn-next" id='drop-submit'>
            <i class="bi bi-journal-bookmark-fill me-2"></i>Submit Answers!
          </button>
       </div>
      </div>
    </div>

  </div>

</body>

{% endblock %}
