{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='final.js') }}"></script>
<script>
    

    
</script>

<div class="container">
        <div class="row min-vh-100 align-items-center">
          <div class="col-12 mx-auto text-center">
            <h1 class="display-3 fw-bold mb-4">
              Spot the Spin
            </h1>
            <h2 class="display-6 mb-5">
              Mastering Media Manipulation Techniques
            </h2>
          </div>
            
            <!-- Glowing call-to-action buttons -->
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center animate__animated animate__fadeInUp animate__delay-2s">
              <a href="/view/1" class="btn btn-primary btn-lg px-4 gap-3 glow-on-hover">
                <i class="bi bi-journal-bookmark-fill me-2"></i>Start Learning
              </a>
              <a href="/quiz" class="btn btn-primary btn-lg px-4 gap-3 glow-on-hover">
                <i class="bi bi-patch-question-fill me-2"></i>Test Your Knowledge
              </a>
            </div>
        </div>
      </div>
      

</div>


{% endblock %}
