{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='review.js') }}"></script>

<div class="container">
  <div class="text-center mt-5">
    <h2 class="mb-3" id="review-title">Review Propaganda Techniques</h2>
    <p class="text-muted fs-5">Review the core ideas of each technique. Use the arrows to skim through the cards. Up next is the quiz.</p>
    <div class="card shadow p-4 mb-4">
      <div class="d-flex align-items-center flex-column">
        <img id="technique-icon" src="" alt="icon" style="width: 64px; height: 64px; margin-bottom: 10px;">
        <h3 id="technique-title"></h3>
        <p id="technique-description"></p>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button id="prev-btn" class="btn btn-prev btn-outline-secondary">Previous</button>
      <button id="next-btn" class="btn btn-next btn-outline-secondary">Next</button>
    </div>
  </div>
</div>
{% endblock %}
